<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Note</title>
</head>
<body>
    <h1 style="text-decoration: underline;">Add Note</h1>
    <form action="addNote/id/<%=data.username%>" method="POST">
        <textarea name="mynote" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Add Note">
    </form><br><br>
<hr>
    <div>
        <h1 style="text-decoration: underline;">Your Notes</h1>
        <ul>
            <% data.notes.forEach((item)=>{%>
                <li><%=item%></li>
                <%});%>
        </ul>
    </div><br><br>
    <hr>
    <button><a href="logout">Log out</a></button>
</body>
</html>